Allow only one of end or duration for event

From [RFC 5545, Section 3.6.1](https://tools.ietf.org/html/rfc5545#section-3.6.1):

>Either 'dtend' or 'duration' MAY appear in a 'eventprop', but 'dtend' and 'duration' MUST NOT occur in the same 'eventprop'.

Currently no error is thrown when user supplies both properties

Added condition to check if both exist, if so `BuildingError` is thrown.